POSTGRES_DB=gik_test
POSTGRES_USER=gik
POSTGRES_PASSWORD=change-this-db-password

DB_URL=jdbc:postgresql://postgres:5432/gik_test
DB_USERNAME=gik
DB_PASSWORD=change-this-db-password

AUTH_JWT_SECRET=change-this-to-at-least-64-random-characters-before-deploy
AUTH_JWT_EXPIRATION_SECONDS=315360000
AUTH_GOOGLE_CLIENT_IDS=314100642419-7uo18h9c4e8je9a4g34118eu97k7itgm.apps.googleusercontent.com,314100642419-i7epqv2gemvl0chq6ab249kidpfa5d55.apps.googleusercontent.com,314100642419-o22kfuutrrja23kdmqv3f54reca1htnm.apps.googleusercontent.com
AUTH_APPLE_CLIENT_ID=
